# trash
.venv
.vs
__pycache__

# data
datasets

# mlflow
mlflow
mlflow_data
mlruns
mlartifacts
mlflow.db

# redice
redice_data

# trainer service
trainer/src/data
trainer/src/shared
utils_old/
trainer/src/tester.ipynb